<div class="layout-topbar">
  <div class="content">
    <div class="p-grid p-justify-between">
      <div class="p-col-fixed logo">
        <a routerLink="" >ist - ur . org</a>
      </div>
      <div class="p-col">
        <div class="topbar-menu">
          <ul>
            <li><input pInputText type="text" class="search" placeholder="Search user or content"></li>
            <li><a routerLink="login">LOGIN</a></li>
            <li><a routerLink="register">REGISTER</a></li>
          </ul>
        </div>
        <div class="hamburger-menu">
          <button type="button" pButton icon="pi pi-list" (click)="openMobileNavbar()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
