<div class="container-fluid">
  <div class="row">
    <div class="col-5">
      <h4>Login</h4>
      <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <span>
          <input id="float-input-username" class="form-control" [(ngModel)]="email" name="email" type="text">
          <label>email</label>
        </span>
        <br>
        <span>
          <input id="float-input-password" class="form-control" type="password" [(ngModel)]="password" name="password">
          <label>Password</label>
        </span>
        <br>
        Remember Me? <!-- <p-checkbox [(ngModel)]="rememberMe" binary="true" name="rememberMe"></p-checkbox> -->
        <br>
        <button type="submit" class="btn btn-outline-danger" [disabled]="loading">Login</button>
      </form>
      <br>
      <a [routerLink]="['/forgot-password']" class="btn btn-link">Forgot Password</a>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <p *ngIf="loading">
        <ngb-progressbar type="warning" [value]="100" [striped]="true" [animated]="true">
          <i>geduld</i>
        </ngb-progressbar>
      </p>
    </div>
  </div>
</div>
