<div class="container">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar [postingUser]="postingUser"></app-sidebar>
    </div>
    <div class="col-md-6">
      <div *ngIf="micropost">
        <app-single-micropost [micropost]="micropost" [micropost_user_id]="postingUser.id" [micropost_user_name]="postingUser.name" [currentUser]="currentUser"></app-single-micropost>
      </div>
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-sm btn-outline-danger" (click)="backLink()">back</button>
        </div>
      </div>
      <div>
        <app-comment-list [micropostId]="micropostId"></app-comment-list>
      </div>
      <div>
        <app-create-comment [user_id]="currentUser.id" [postingId]="micropostId"></app-create-comment>
      </div>
    </div>
  </div>
</div>
