<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="updateForm" (ngSubmit)="onGallerySubmit()">
        <div class="form-group">
          <input formControlName="title" class="form-control">
        </div>
        <div class="form-group">
          <textarea formControlName="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-sm btn-outline-dark">update</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <app-add-and-remove-photo [entityId]="gallery.id" [type]="'gallery'" [photos]="gallery.photos"></app-add-and-remove-photo>
    </div>
  </div>
</div>

