<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div *ngIf="currentUser != null">
        <div>
          <app-create-posting></app-create-posting>
        </div>
        <div>
          <app-show-posting-list></app-show-posting-list>
        </div>
      </div>
      <div *ngIf="currentUser == null">
        <h3>Welcome to ist-ur.org</h3>
        <p><a [routerLink]="['/login']">Login</a></p>
        <p><a [routerLink]="['/register']">Register</a></p>
      </div>
    </div>
  </div>
</div>
