<div class="p-grid p-align-center" style="height: 500px;">
  <div class="p-col-4 p-offset-4">
    <h3>Login</h3>
    <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <span class="ui-float-label">
          <input id="float-input-username" [(ngModel)]="username" name="username" type="text" required pInputText style="width: 100%">
          <label for="float-input-username">username</label>
        </span>
        <br>
        <span class="ui-float-label">
          <input id="float-input-password" type="password" [(ngModel)]="password" name="password" required style="width: 100%" pInputText>
          <label for="float-input-password">Password</label>
        </span>
        <br>
        Remember Me? <p-checkbox [(ngModel)]="rememberMe" binary="true" name="rememberMe"></p-checkbox>
        <br>
        <p-button type="submit" label="Login" [disabled]="!loginForm.valid"></p-button>
      </form>
    <br>
    <a [routerLink]="['/forgot-password']" class="btn btn-link">Forgot Password</a>
  </div>

</div>
