<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="updateForm" (ngSubmit)="onPostingEdit()">
        <div class="form-group">
          <input formControlName="title" class="form-control" type="text">
        </div>
        <div class="form-group">
          <textarea formControlName="content" class="form-control"></textarea>
        </div>
        <button class="btn btn-sm btn-outline-primary">ab die post</button>

      </form>
    </div>
    <div class="col-md-6">
      <app-add-and-remove-photo [entityId]="posting.id" [type]="'micropost'" [photos]="posting.photos"></app-add-and-remove-photo>
    </div>
  </div>

</div>
