<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" *ngIf="posting">
      <h5>{{posting.title}}</h5>
      <div>
        {{posting.content}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngIf="postingUser">
      <a [routerLink]="['/user/' + postingUser.id]"> {{postingUser.name}} </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-sm btn-outline-danger" (click)="backLink()">back</button>
    </div>
  </div>
  <div>
    <app-comment-list [postingId]="postingId"></app-comment-list>
  </div>
  <div>
    <app-create-comment [user_id]="currentUser.id" [postingId]="postingId"></app-create-comment>
  </div>
</div>
