<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col">
          <ng-container *ngIf="userToShow">
            <div>{{userToShow.name}}</div>
          </ng-container>
        </div>
      </div>
      <div class="row" *ngIf="currentUser != null">
        <div class="col-md-4">
          <ng-container *ngIf="userToShow">
            <div *ngIf="currentUser.id === userToShow.id">
              <app-upload [uploadType]="avatar"></app-upload>
            </div>
          </ng-container>
          <!--app-create-follower-ship [follower_id]="currentUser.id" [followed_id]="userToShow.id"></app-create-follower-ship-->
        </div>
      </div>

    </div>
    <div class="col-md-5">
      <div *ngFor="let m of microposts">
        <app-single-micropost [micropost]="m" [micropost_user_name]="userToShow.name" [micropost_user_id]="m.user_id"></app-single-micropost>
      </div>
      <div>

      </div>
    </div>
    <div class="col-md-4">
      <ng-container *ngIf="userToShow">
        <img [src]="userToShow.avatar" width="50%">
      </ng-container>
    </div>
  </div>

</div>
