/* You can add global styles to this file, and also import other style files */

@import "assets/css/bootstrap.min.css";
@import "assets/css/customspacing.css";

html, body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  background-color: #f8f9fa;
}
a { text-decoration: none}
.content {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
